secrets.py
__pycache__/**
hits/hit_energy*json
hits/hit_darwin*json
!hits/gitkeep
transform_history/*new_transform.json
transform_history/*darwin_transform.json
logs/**
!logs/gitkeep
policy_dump/**
!policy_dump/gitkeep
temporary/**
!temporary/gitkeep
temporary_eagle/**
!temporary_eagle/gitkeep

