secrets.py
se_ruleset_unpacked?
darwin_ruleset_unpacked?
fokus_ruleset_unpacked*
__pycache__/**
hits/hit_darwin*json
hits/hit_fokus*json
!hits/gitkeep
transform_history/*darwin_transform.json
transform_history/*fokus_transform.json
policy/*policy*tar.gz
!policy/gitkeep
Network-CST-P-SAG-Darwin.json
Network-CST-V-SAG-Fokus-CO.json
Fokus_AC_Standard_objects.json